<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HDBL.Properties.Settings.QL_BANHANGConnectionString" connectionString="Data Source=DESKTOP-MC\SQLEXPRESS;Initial Catalog=QL_BANHANG;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
